.jumbotron{
	background-color: #159CBD;
	color: black;
	margin-top: 25px;
}



.footer{
	padding: 10px 10px 0px 10px;
	background-color: #159CBD;
	margin-bottom: 0px;
	margin-top: 10px;
	color:white;
}

.tarjeta{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-adopta{
	width: 100px;
}

.desc{
	font-size: 13px;
	color: #838E8F;

}

.a{
	color: white;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.aquiles{
	width: 50%;
}

