$blue : #159CBD;

@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $blue;
	color: black;
	@include margenes(25px, 0px);
}



.footer{
	padding: 10px 10px 0px 10px;
	background-color: $blue;
	@include margenes(10px, 0px);
	color:white;
}

.tarjeta{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-adopta{
	width: 100px;
}

.desc{
	font-size: 13px;
	color: #838E8F;

}

.a{
	color: white;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.aquiles{
	width: 50%;
}
